video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}
.search {
  width: 300px;
  padding: 20px;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid rgb(126, 164, 69);
  background-color: rgb(244, 185, 204); 
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
button {
  margin: 5px;
  border-radius: 20px;
  border: 2px solid rgb(126, 164, 69);
  background-color: rgb(244, 185, 204);
}
.foodOrDrink {
  width: 250px;
  border-radius: 150px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
li {
  margin-top: 0px;
  background-color: rgb(244, 185, 204);
  border-radius: 25px;
  opacity: 0.8;
  padding: 10px;
  margin: 5px;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 25px
}
p {
  margin-top: 0px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px;
}